@import './variables';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: $theFont;
    background-color: $VeryLightGray;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-color: #d5ac68 #f1db9d;
    scrollbar-width: thin;
}

li{
    list-style: none;
    cursor: pointer;
}

//styles for mobile screen
.container{
    padding: 30px 20px;
    background: url(./images/bg-tablet-pattern.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100px -100px;
    .hero{
        nav{
            position: relative;
            display: flex;
            justify-content: space-between;
            position: relative;
            .close{
                display: none;
                cursor: pointer;
            }
            .burger{
                cursor: pointer;
                height: 100%;
            }
            .logo{
                height: 100%;
            }
            .start{
                display: none;
            }
            ul{
                position: absolute;
                background-color: white;
                top: 200%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
                font-weight: 700;
                color: $DarkBlue;
                padding-block: 50px;
                border-radius: 5px;
                box-shadow: 0 200px 500px 5px rgba(110, 108, 108, 0.448);
            }
        }
        .data{
            margin-top: 50px;
            img{
                width: 100%;
            }
            .bottom{
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                h1{
                    color: $DarkBlue;
                }
                p{
                    line-height: 30px;
                    color: $DarkGrayishBlue;
                }
                .start{
                    background-color: $BrightRed;
                    border: none;
                    outline: none;
                    padding: 10px;
                    color: $VeryPaleRed;
                    font-weight: semi-bold;
                    width: 150px;
                    border-radius: 100px;
                    box-shadow: 0 5px 10px 0.1px $BrightRed;
                    display: block;
                    cursor: pointer;
                }
            }
        }
    }
    .about{
        display: flex;
        flex-direction: column;
        text-align: center;
        .aboutText{
            margin-top: 100px;
            font-size: 1rem;
            h1{
                padding-inline: 50px;
            }
            p{
                margin-top: 20px;
                color: $DarkGrayishBlue;
                line-height: 30px;
                padding-inline: 30px;
            }
        }
        .features{
            margin-top: 50px;
            .feature{
                padding-bottom: 50px;
                h3{
                    background-color: $VeryPaleRed;
                    display: flex;
                    gap: 20px;
                    flex-direction: row;
                    align-items: center;
                    border-radius: 100px;
                    color: $DarkBlue;
                    padding: 5px 20px;
                    font-size: 1rem;
                    margin-bottom: 15px;
                    span{
                        background-color: $BrightRed;
                        color: white;
                        padding: 5px 20px;
                        border-radius: 100px;
                        text-align: left;
                    }
                }
                p{
                    color: $DarkGrayishBlue;
                }
            }
        }

    }
    .comments{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            color: $DarkBlue;
        }

        .cards{
            overflow-x: scroll;
            position: relative;
            gap: 20px;
            display: flex;
            width: 100%;
            .card{
                position: absolute;
                min-width: 100%;
                margin-top: 100px;
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
                img{
                    width: 20%;
                    position: absolute;
                    top: -15%;
                }
                .content{
                    padding: 70px 20px;
                    width: 100%;
                    background-color: hsl(0, 0%, 93%);
                    line-height: 30px;
                    text-align: center;
                    .name{
                        color: $DarkBlue;
                        font-weight: 700;
                    }
                    .comment{
                        color: $DarkGrayishBlue;
                    }
                }
            }
        }
        .start{
            background-color: $BrightRed;
            border: none;
            outline: none;
            padding: 10px;
            color: $VeryPaleRed;
            font-weight: 700;
            width: 200px;
            border-radius: 100px;
            box-shadow: 0 5px 10px 0.1px $BrightRed;
            display: block;
            margin-top: 50px;
        }
    }
    .callToAction{
        background-color: $BrightRed;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px 20px;
        margin-top: 50px;
        background-image: url(./images/bg-simplify-section-mobile.svg);
        background-repeat: no-repeat;
        box-shadow: 0 0 0 20px $BrightRed;
        .start{
            background-color: white;
            border: none;
            outline: none;
            padding: 10px;
            color: $BrightRed;
            font-weight: 700;
            width: 150px;
            border-radius: 100px;
            margin-top: 30px;
            cursor: pointer;
        }
    }
    footer{
        background-color: $VeryDarkBlue;
        color: white;
        box-shadow: 0 0 0 80px $VeryDarkBlue;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        .inbox{
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: space-between;
            border: 1px soild white;
            .search{
                background-color: white;
                padding: 10px 40px;
                border-radius: 100px;
                border: none;
                outline: none;
                width: 100%;
                text-align: left;
                font-family: $theFont;
            }
            .go{
                background-color: $BrightRed;
                border: none;
                outline: none;
                color: white;
                padding: 10px 20px;
                border-radius: 100px;
            }
        }
        ul{
            display: flex;
            gap: 100px;
            color: $VeryLightGray;
            padding-block: 30px;
            li{
                padding-block: 10px;
            }
        }
        .socialIcons{
            display: flex;
            gap: 50px;
        }
        .logo{
            padding-block: 50px;
        }
        .copyRight{
            color: $DarkGrayishBlue;
        }
    }
}


//styles for computer screen
@media screen and (min-width:800px) {
    .container{
        padding: 50px 150px;
        background-position: 800px -110px;
        background-size: 50%;
        position: relative;
        .hero{
            nav{
                position: static;
                ul{
                    position: static;
                    flex-direction: row;
                    padding: 0;
                    margin: 0;
                    background-color: transparent;
                    box-shadow: none;
                    color: $DarkGrayishBlue;
                    background-size: 100%;

                }
                .start{
                    background-color: $BrightRed;
                    border: none;
                    outline: none;
                    padding: 10px;
                    color: $VeryPaleRed;
                    font-weight: 700;
                    width: 200px;
                    border-radius: 100px;
                    box-shadow: 0 5px 10px 0.1px $BrightRed;
                    display: block;
                }
                .burger{
                    display: none;
                }

            }
            .data{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: center;
                gap: 150px;
                .bottom{
                    text-align: left;
                    align-items: start;
                    h1{
                        font-size: 3rem;
                    }
                }
            }
        }
        .about{
            flex-direction: row;
            gap: 100px;
            margin-top: 100px;
            .aboutText{
                text-align: left;
                margin: 50px;
                h1{
                    padding: 0;
                }
                p{
                    padding: 0;
                }
            }
            .features{
                .feature{
                    text-align: left;
                    h3{
                        background-color: transparent;
                    }
                    p{
                        padding-left: 100px;
                    }
                }
            }
        }
        .callToAction{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            box-shadow: 0 0 0 150px $BrightRed;
            margin-top: 800px;
            h1{
                padding: 0;
                margin: 0;
            }
        }
        .comments{
            position: absolute;
            left: 0;
            .cards .card{
                min-width: 32%;
            }

        }
        footer{
            display: grid;
            grid-template-areas: 
                'logo links links inbox'
                'socialIcons links links copy-right'
            ;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            box-shadow: 0 0 0 150px $VeryDarkBlue;
            margin-top: 300px;
            .inbox{
                grid-area: inbox;
            }
            ul{
                grid-area: links;
            }
            .logo{
                grid-area: logo;
            }
            .socialIcons{
                grid-area: socialIcons;
                gap: 20px;
            }
            .copyRight{
                grid-area: copy-right;
            }
        }
    }
}